i {
  /* Revelation 20:15:
     And whosoever was not found written in the book
     of life was cast into the lake of fire.
    */
  content: "I will be cast out into the lake of fire";
}
i:before {
  content: "You can be saved right now!";
  /* http://www.turnfromyouridols.com/SALVATION.html */
  font-weight: bold;
}
